	.main{
			width: 90%;
			margin-left: 5%;
			height: 150px;
		}
		.imgclass{
			width: 150px;;
			height: 150px;
			margin-left: .5%;
			margin-top: .5%;
			float: left;
		}
		.details{
			width: 82%;
			float: right;
			margin-left: .5%;
			margin-top: .5%;
			margin-right: 1%;
			height:  30px;
			text-align: right;
		}
		a{
			text-decoration: none;
			float:right;
		}
		.btn
                {
                    height: 30px;
                    width: 110px;
                    background-color: grey;
                    border-radius: 5px;
                    font-size: 15px;
                    color: #ffffff;
                }